<div id="<%= dom_id lesson %>">
  <div>
    <strong>Title:</strong>
    <%= lesson.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= lesson.body %>
  </div>

  <div>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </div>

</div>
