<div id="<%= dom_id course %>">
  <div>
    <strong>Title:</strong>
    <%= course.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= course.description %>
  </div>

  <div>
    <strong>User:</strong>
    <%= course.user_id %>
  </div>

</div>
